<ion-view view-title="" hide-nav-bar="true" cache-view="false">
  <ion-content>

	<!--	
      <div class="BackgroundImage" >
          <img src="img/bck.jpg" style="width: 100%" />
      </div>
	-->
      <div style="position:relative">
        <div class="LogoImage" align="center">
          <img src="img/bookeep.png" style="width: 80%" />
        </div>

        <div class="inputMainDiv" align="center">
          <div class="inputSecondDiv" >
            <input class="InputType" type="text" placeholder="שם משתמש" ng-model="loginfields.username">
          </div>
        </div>

        <div class="inputMainDiv" align="center">
          <div class="inputSecondDiv" >
            <input class="InputType" type="password" placeholder="סיסמה" ng-model="loginfields.password">
          </div>
        </div>
		<!--
        <div class="forgotPass">
            שכחת סיסמא?
        </div>
		-->
        <div class="LogoImage" ng-click="doLogin()" align="center">
          <img src="img/connect.png" style="width: 80%" />
        </div>



  </ion-content>
</ion-view>
